/* Styles for career goals */
/* Global Styles */
html{
    box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: inherit;
}
body{
    color: #D1D1D1;
    margin: 0;
    scroll-behavior: smooth;
    overflow: auto;
}

/* Detail Overriding */
.details{
    width: 20vw !important;
    height: 50vh !important;
}
.middle{
    margin-left: 25px;
    margin-right: 25px;
}
