body{
     margin: 0;
     position: relative;
     animation: 1s ease-out 0s 1 slideInFromLeft !important;
     scroll-behavior: smooth !important;
}

/* Middle Div Content Styles */
.myskills-content, .careergoals-content, .lifegoals-content{
     display: flex !important;
     justify-content: center;
     align-items: center;
     flex-direction: row;
}
.title{
     font-size: 2.5em;
}
.description{
     margin-bottom: 0;
     font-weight: 600;
     font-size: 18px;
}
.content{
     display: inline-block;
     padding-right: 45px;
     width: 70%;
}
.profile-picture-s{
     display: inline-block;
}
.picture{
     display: inline-block;
     height: 300px;
     width: 300px;
     border-radius: 50%;
     background-size: cover;
}

.details{
     position: relative;
     background: rgba(238, 229, 233, 0.85);
     height: 425px;
     width: 60vw;
     border-radius: 10px;
     padding: 60px !important;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
     background: inherit;
     overflow: hidden;
     z-index: 1;
     animation: 1s ease-out 0s 1 slideinfromleft;
}

.details:before{
     content: "";
     position: absolute;
     background: inherit;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
     box-shadow: inset 0 0 2000px rgba(255,255,255, 0.8);
     filter: blur(15px);
     z-index: -1;
}

/* All Content Container Styles */
.container-details{
     height: 350px;
}

/* About Me Styles */
.aboutme-title{
     margin-bottom: 20px;
}
.aboutmedescription{
     width: 40%;
     font-size: 17px !important;
}
.container-for-aboutme{
     text-align: center;
}

/* Career Goals Styles */
.container-for-careergoals{
     position: relative;
     height: 350px;
     overflow: hidden;
     background-attachment: fixed;
     background-repeat: no-repeat;
     background-size: cover;
     z-index: 1;
}
.container-for-careergoals:before{
     background-image: url("../images/ImagesForWorkExperience/leaves_plant_green_118405_3000x4498.jpg") !important;
     content: "";
     position: absolute;
     background: inherit;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
     /* box-shadow: inset 0 0 1000px rgb(0,0,0); */
     z-index: -1;
}
.careergoals-title, .careergoals-desc{
     color: #eeffcc;
}
.careergoals-desc{
     font-size: 18px;
}
.careergoals{
     width: 25%;
     text-align: center;
}
.careergoals h3{
     margin-bottom: 25px;
}
.two{
     margin: 0 45px;
}

/* Skills Styles */
.container-for-skills{
     position: relative;
     overflow: hidden;
     background-attachment: fixed;
     background-repeat: no-repeat;
     background-size: cover;
     z-index: 1;
}
.container-for-skills:before{
     background-image: url("../images/ImagesForWorkExperience/mountain_forest_dark_enhanced.jpg") !important;
     content: "";
     position: absolute;
     background: inherit;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
     /* box-shadow: inset 0 0 1000px rgb(0,0,0); */
     z-index: -1;
}
.myskills-title{
     color: #fff2e6;
}
.myskills-desc{
     color: #fff2e6;
     font-size: 18px;
     font-weight: bold;
}
.skills{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     text-align: center;
     width: 25%;
     height: 250px;
}
.skills.two{
     margin: 0 45px;
}
.skills h3{
     margin-bottom: 25px;
}

/* Life Goals Styles */
.container-for-lifegoals{
     position: relative;
     overflow: hidden;
     background-attachment: fixed;
     background-repeat: no-repeat;
     background-size: cover;
     z-index: 1;
}
.container-for-lifegoals:before{
     background-image: url("../images/ImagesForWorkExperience/starry_sky_clouds_sunset_120716_3456x4320.jpg") !important;
     content: "";
     position: absolute;
     background: inherit;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
     /* box-shadow: inset 0 0 1000px rgb(0,0,0); */
     z-index: -1;
}
.lifegoals-title, .lifegoals-desc{
     color: #F4F4ED;
}
.lifegoals-desc{
     font-size: 18px;
     margin: 0;
}
.lifegoals{
     width: 25%;
}
.lifegoals.two{
     margin: 0 45px;
}
.lifegoals h3{
     margin-bottom: 25px;
}

/* Mobile Styles */
@media only screen and (max-height: 475px){
     div.vertical-center{
          display: none !important;
     }
     .picture{
          height: 250px;
          width: 250px;
     }
}
@media only screen and (max-width: 1400px){
     .details{
          width: 75vw !important;
          padding: 60px;
     }
}

/* Add some animations */
@keyframes slideinfromleft{
     0%{
          transform: translateY(-50%);
          opacity: 0;
          -moz-transition: opacity 3.0s;
          -webkit-transition: opacity 3.0s;
          -o-transition: opacity 3.0s;
          transition: opacity 3.0s;
     }
     100%{
          transform: translateY(0);
          opacity: 100%;
     }
}

/* 
     Retrieved animation insight from user 'Rolf' on:
     https://stackoverflow.com/questions/6805482/css3-transition-animation-on-load 
     Starts on line 95
*/

/* 
     Retrieved some insight on frosted glass style from
     https://youtu.be/sLkBmV4yGJ4
     Starts on line 66
     Ends on line 88
*/


/* Images Used */

/* Cape Breton -> Brennan Rafters */

/* Leaves -> https://wallpaperscraft.com/wallpaper/leaves_plant_green_118405 -> No Author */

/* Mountains Forest Dark -> https://wallpaperscraft.com/wallpaper/mountain_forest_dark_141603 -> gaspar manuel zaldo */

/* Starry sky clouds sunset -> https://wallpaperscraft.com/wallpaper/starry_sky_clouds_sunset_120716 -> Diego PH */