body{
     margin: 0;
     position: relative;
     animation: 1s ease-out 0s 1 slideInFromLeft !important;
     scroll-behavior: smooth !important;
}
/* Middle Div Content Styles */
.title{
     font-size: 2.5em;
}
.description{
     margin-bottom: 0;
     font-weight: 600;
     font-size: 16px;
}
.content{
     display: inline-block;
     padding-right: 45px;
     width: 70%;
}
.profile-picture-s{
     display: inline-block;
}
.picture{
     display: inline-block;
     height: 300px;
     width: 300px;
     border-radius: 50%;
     background-size: cover;
}

.container-content{
     background-image: linear-gradient(rgba(187, 197, 170, 0.3), rgba(221, 226, 198, 0.7)), url("../images/IndexImages/capebreton.jpg");
     background-repeat: no-repeat;
     background-size: cover;
     background-attachment: fixed;  
     height: 100vh;
}

.details{
     position: relative;
     background: rgba(238, 229, 233, 0.85);
     height: 425px;
     width: 60vw;
     border-radius: 10px;
     padding: 60px !important;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
     background: inherit;
     overflow: hidden;
     z-index: 1;
     animation: 1s ease-out 0s 1 slideinfromleft;
}

.details:before{
     content: "";
     position: absolute;
     background: inherit;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
     box-shadow: inset 0 0 2000px rgba(255,255,255, 0.8);
     filter: blur(15px);
     z-index: -1;
}

/* All Content Container Styles */
.container-details{
     height: 350px;
}

/* About Me Styles */
.aboutme-title{
     margin-bottom: 20px;
}
.aboutmedescription{
     width: 40%;
     font-size: 16px !important;
}

/* Work Experience Styles */
.container-for-workexperience{
     overflow: auto;
}

/* Skills Styles */
.container-for-skills{
     position: relative;
     height: 350px;
     overflow: hidden;
     background-attachment: fixed;
     background-repeat: no-repeat;
     background-size: cover;
     z-index: 1;
}
.container-for-skills:before{
     background-image: linear-gradient(rgba(226, 226, 208, 0.3), rgba(226, 226, 208, 0.5)), url("../images/ImagesForWorkExperience/mountain_forest_dark_enhanced.jpg") !important;
     content: "";
     position: absolute;
     background: inherit;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
     /* box-shadow: inset 0 0 1000px rgb(0,0,0); */
     z-index: -1;
}
.myskills-title{
     color: #fff5e6;
}
.myskills-desc{
     font-size: 16px;
     color: #fff5e6;
}


/* Mobile Styles */
@media only screen and (max-height: 475px){
     div.vertical-center{
          display: none !important;
     }
     .picture{
          height: 250px;
          width: 250px;
     }
}
@media only screen and (max-width: 1400px){
     .details{
          width: 75vw !important;
          padding: 60px;
     }
}

/* Add some animations */
@keyframes slideinfromleft{
     0%{
          transform: translateY(-50%);
          opacity: 0;
          -moz-transition: opacity 3.0s;
          -webkit-transition: opacity 3.0s;
          -o-transition: opacity 3.0s;
          transition: opacity 3.0s;
     }
     100%{
          transform: translateY(0);
          opacity: 100%;
     }
}

/* 
     Retrieved animation insight from user 'Rolf' on:
     https://stackoverflow.com/questions/6805482/css3-transition-animation-on-load 
     Starts on line 95
*/

/* 
     Retrieved some insight on frosted glass style from
     https://youtu.be/sLkBmV4yGJ4
     Starts on line 66
     Ends on line 88
*/


