/* General Styles */
body{
    background-color: #F4F4ED;
}

/* Div Styles */
.content{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 60%;
    padding: 20px;
}
.resume-container{
    height: 100vh;
    width: 100vw;
}
.name{
    margin-bottom: 0;
}

/* Section Styles */
.header{
    border-bottom: 2px solid black;
}
.objective{
    margin-top: 25px;
}
.resume-body-content{
    width: 50%;
}

/* Button Overrides */
.btn-secondary.bodybtn{
    background-color: #F4F4ED;
    color: black !important;
    padding-left: 0;
    padding-right: 0;
    margin: 0 15px 0 0;
}
.btn-secondary.bodybtn:hover{
    border-bottom: 5px solid black !important;
}