/* Container Styles */
.container-content{
    background-image: url('../images/ImagesForWorkExperience/starry_sky_night_trees_night_landscape_118760_7952x5304.jpg') !important;
    height: 50vh !important;
}
.container-content h1{
    color: #F4F4ED;
    margin-top: 50px;
}
.containers{
    height: calc(50vh - 50px);
}
.works{
    width: 15%;
    text-align: center;
    margin: 25px 25px 0 25px;
}
.works p{
    height: 50px;
}
.btn-primary{
    transition: background 0.2s ease, color 0.2s ease !important;
    border: 1px solid black !important;
}
.btn-primary:hover{
    background: white !important;
    color: black !important;
}
/* Images Used */
/* starry sky night trees night landscape -> https://wallpaperscraft.com/wallpaper/starry_sky_night_trees_night_landscape_118760
Unknown author */