/* Container Styles */
.container-content{
    background-image: url('../images/ImagesForWorkExperience/starry_sky_night_trees_night_landscape_118760_7952x5304.jpg') !important;
    height: 50vh !important;
}
.container-content h1{
    color: #F4F4ED;
    margin-top: 50px;
}
.containers{
    height: 50vh;
}
.works{
    width: 17%;
    text-align: center;
    margin: 25px 25px 0 25px;
}
.works p{
    height: 50px;
}

.btn-primary{
    transition: background 0.2s ease, color 0.2s ease !important;
    border: 2px solid black !important;
}
.btn-primary:hover{
    background: white !important;
    color: black !important;
}

/* Javascript Container Styles */
#javascript{
    background-image: url('../images/ImagesForWorkExperience/space_stars_milky_way_166418_3351x2233.jpg') !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.javascript-title, .javascript-desc{
    color: #F4F4ED;
}
.left-col-one{
    width: 30%;
}
.right-col-one{
    width: 60%;
}
.javascript-content{
    padding: 0 50px;
}
.js-image{
    width: 100%;
    height: 90%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-image: url("../images/ImagesForWorkExperience/Blackjack.png") !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.js-image.two{
    background-image: url("../images/ImagesForWorkExperience/Buses.png") !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.js-image.three{
    background-image: url("../images/ImagesForWorkExperience/Blogging.png") !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* Capstone Styles */
#capstone{
    background-image: url('../images/ImagesForWorkExperience/miguel-bruna-DdiaNwoCK0c-unsplash.jpg') !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.capstone-title, .capstone-desc{
    color: #F4F4ED;
}
.capstone-image{
    width: 100%;
    height: 90%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-image: url('../images/ImagesForWorkExperience/Capstone.png') !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.img-top{
    width: 50%;
}
.capstone-content{
    padding: 0 50px;
}

/* C++ Styles */
#cpp{
    background-image: url('../images/ImagesForWorkExperience/massimiliano-morosinotto-uJIhAvqFJxg-unsplash.jpg') !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.cpp-title, .cpp-desc{
    color: #F4F4ED;
}
.cpp-content{
    padding: 0 50px;
}
.cpp-image{
    width: 100%;
    height: 90%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-image: url('../images/ImagesForWorkExperience/Maze.png') !important;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.cpp-image.two{
    width: 100%;
    height: 90%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-image: url('../images/ImagesForWorkExperience/RationalNumbers.png') !important;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.cpp-image.three{
    width: 100%;
    height: 90%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-image: url('../images/ImagesForWorkExperience/Sorting.png') !important;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

/* Entrepreneurship Styles */
#appdev{
    background-image: url('../images/ImagesForWorkExperience/photo-of-audi-parked-near-trees-1402787.jpg') !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.appdev-title, .appdev-desc{
    color: #F4F4ED;
}
.appdev-image{
    width: 100%;
    height: 90%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #F1F7ED;
    background-image: url('../images/ImagesForWorkExperience/Quizzy.png') !important;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.appdev-image.two{
    width: 100%;
    height: 90%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #EEE5E9;
    background-image: url('../images/ImagesForWorkExperience/ListFragment.png') !important;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.appdev-image.three{
    width: 100%;
    height: 90%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #E0FBFC;
    background-image: url('../images/ImagesForWorkExperience/Calculator.png') !important;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.appdev-content{
    padding: 0 50px;
}

/* Images Used */
/* Starry sky night trees night landscape -> https://wallpaperscraft.com/wallpaper/starry_sky_night_trees_night_landscape_118760
Unknown author */

/* Building photo by Miguel Bruna on Unsplash */

/* 
    Dusk mountains Photo by Massimiliano Morosinotto on Unsplash 
    https://unsplash.com/photos/uJIhAvqFJxg
*/

/* Space stars milky way -> https://wallpaperscraft.com/wallpaper/space_stars_milky_way_166418 -> Hypatia Alexandria */