/* General Styles */
h4{
    margin: 8px 0;
}

/* Container Styles */
.container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    background-image: url('../images/ImagesForWorkExperience/mwrona.jpg') !important;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.resume-container{
    position: relative;
    top: 28px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 3px;
    background-color: #e3dac9;
    width: 90%;
    height: 92%;
}

.left-column{
    float: left;
    padding: 15px 20px;
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #66635b;
}
.right-column{
    width: 70%;
    float: left;
    clear: right;
    height: 100%;
    flex-direction: column;
    padding: 50px;
    padding-top: 35px;
    padding-bottom: 35px;
    overflow: auto;
}


/* Section Styles */
.nameTitle{
    height: 17%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-bottom: 2px solid #e3dac9;
    padding: 10px;
    padding-bottom: 0;
}
.nameTitle h1{
    display: inline-block;
    font-family: 'Playfair Display', serif;
    font-weight: normal;
    font-size: 1.7em;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 0;
    margin-top: 0px;
    color: #e3dac9;
}
.nameTitle h1 b{
    font-family: 'Playfair Display', serif;
    color: #e3dac9;
}
.nameTitle h5{
    color: #e3dac9;
    font-weight: normal;
    text-transform: uppercase;
    text-align: right;
    display: inline-block;
    letter-spacing: 2px;
    margin-bottom: 10px;
    margin-top: 10px;
}

/* Contact Info Section */
.contactInfo{
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    border-bottom: 2px solid #e3dac9;
}
.contactInfo h4{
    color:  #e3dac9;
    font-weight: normal;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 15px;
}
.contactInfo h4, .contactInfo a{
    padding: 7px 0;
}

.contactInfo a span{
    transition: 0.26s;
}
.contactInfo a{
    color:  #e3dac9;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 15px;
    transition: 0.25s linear;
    border-radius: 3px;
}
.contactInfo a:hover{
    box-shadow: inset -500px 0px 0px 0px #e3dac9;
    color: #645e4f;
}
.contactInfo a:hover > span{
    color: #645e4f !important;
}
.material-icons{
    display: inline-block;
    font-size: 24px !important;
    /* margin-right: 20px !important; */
    padding-left: 9px;
    color: #e3dac9;
}

/* Education Section */
.educationInfo{
    padding: 10px;
    border-bottom: 2px solid #e3dac9;
}
.educationInfo > *{
    padding-left: 9px;
    color: #e4dac9; 
}
.educationInfo h3{
    font-size: 1.5em;
    font-family: "Playfair Display", serif;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-top: 15px;
    margin-bottom: 25px;
}
.educationInfo h4{
    font-family: "Playfair Display", serif;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 0;
}
.educationInfo h5{
    margin-top: 4px;
    font-weight: normal;
    margin-bottom: 0;
}
.educationInfo h5:last-of-type{
    margin-bottom: 22px;
}

/* Skills Section */
.skillsInfo{
    padding: 10px;
    padding-right: 0;;
}
.skillsInfo *{
    /* padding-left: 9px; */
    color: #e4dac9; 
}
.skillsInfo h3{
    padding-left: 9px;
    font-size: 1.5em;
    font-family: 'Playfair Display', cursive;
    text-transform: uppercase;
    font-weight: normal;
    margin-top: 15px;
    letter-spacing: 4px;
}
.skillsInfo div{
    padding-left: 9px;
}
.skillsInfo span{
    background-color: #39362d;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 4px 8px;
    border: 2px solid #39362d;
    border-radius: 4px;
    margin: 3px 0;
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: default;
}
.skillsInfo span:hover{
    background-color: #e4dac9;
    color: #66635b;
}

/* Right Column Styles */
.objective{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 20px;
    border-top: 2px solid #66635b;
    border-bottom: 2px solid #66635b;
}
.objective h2{
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 0;
    font-weight: normal;
}
.objective div p{
    margin-bottom: 0;
}
.resume-photo{
    height: 200px;
    border-radius: 50%;
    margin-right: 50px;
}

/* Experience Section */
.experience{
    overflow: auto;
    border-bottom: 2px solid #66635b;
    padding: 25px 0;
}
.experience h2{
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: normal;
    margin-top: 0;
}
.experience h4{
    font-family: "Playfair Display", serif;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 0;
}
.experience > h5{
    margin-top: 0;
    margin-bottom: 0;
}
.experience > ul:last-of-type{
    margin-bottom: 0;
}
.volunteer{
    border-bottom: 2px solid #66635b;
    padding: 25px 0;
}
.volunteer h2{
    text-transform: uppercase;
    font-weight: normal;
    font-family: 'Playfair Display', serif;
}
.volunteer h4{
    margin-top: 30px;
    text-transform: uppercase;
    margin-bottom: 0;
    font-family: 'Playfair Display', serif;
}
.volunteer > h5{
    margin: 0;
}

/* Links */
.mobileLinks span{
    color: #645e4f;
    font-size: 28px !important;
}
.download{
    background-color: #e4dac9;
    padding: 10px 15px;
    border-radius: 3px;
    width: 70%;
    text-decoration: none;
    transition: 0.3s linear;
    border: 2px solid #e4dac9;
    font-weight: bold;
    margin-bottom: 15px;
}
.download:hover{
    box-shadow: inset -500px 0px 0px 0px #66635b;
    color: #e4dac9;
}

/* Cottage Image by M wrona on Unsplash */