/* General Styles */
html{
     box-sizing: border-box;
}
*, *::before, *::after{
     box-sizing: inherit;
 }
nav{
     width: 100%;
     margin: 5px auto 0 auto;
     position: fixed;
}
body{
     width: 100% !important;
}

/* Button Style Overrides */
.btn-secondary{
     transition: background-color 0.5s ease, color 0.5s ease !important;
     margin-left: 5px;
     font-size: 14px !important;
     color: #090C02 !important; 
}
.btn-secondary:hover{
     background-color: rgba(9, 12, 2, 0.6) !important;
     color: white !important;
}




