html{
    background-color: #e0e5ec;
}
h1{
    font-family: "Montserrat", cursive;
    font-weight: normal;
    color: #484349;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* Image Styles */
.profile-img{
    height: 300px;
    border-radius: 50%;
    box-shadow:  12px 12px 24px #acb0b6,
             -12px -12px 24px #ffffff;
}

/* Container Styles */
.container-main{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
}
.content{
    text-align: center;
}