/* General Styles */
html{
    font-family: "Nunito", sans-serif;
}
body{ 
    margin: 0;
}
nav{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 100vw;
    top: 8px;
}

/* Dark Mode Toggler Styles */
.toggle-container{
    position:fixed;
    bottom: 5px;
    left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#slider-switch{
    position: relative;
    display: inline-block;
    width: 50px;
    height: 16px;
}
#slider-switch .dark-mode-toggler{
    opacity: 0;
    width: 0;
    height: 0;
}
#slider-round{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(to right, #484349 50%,rgba(0,249,255,1) 0%, rgba(0,22,245,1) 99%);
    transition: .4s;
    -webkit-transition: .4s;
    background-size: 200% 100%;
    background-position: right;
    transition: all .3s linear;
}
#slider-round:before{
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    /* left: 4px; */
    bottom: -2px;
    background: linear-gradient(145deg, #e6e6e6, #ffffff);
    -webkit-transition: .4s;
    transition: .4s;
    /* border: 1px solid #48434936; */
}
.dark-mode-toggler:checked + #slider-round{
    background-position: left;
}
.dark-mode-toggler:checked + #slider-round:before{
    -webkit-transform: translateX(32px);
    -ms-transform: translateX(32px);
    transform: translateX(32px);
}
#slider-round{
    border-radius: 34px;
}
#slider-round:before{
    border-radius: 50%;
}
.toggle-container h6{
    margin-left: 10px;
}

/* Link Styles */
.link{
    display: inline-block;
    padding: 15px 0;
    text-decoration: none;
    font-family: "Nunito Sans", sans-serif;
    width: 250px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 14px;
    margin: 0 12px;
    border-radius: 14px;
    color: #484349;
    transition: 0.15s ease;
    text-align: center;
}
.link:hover{
    border-radius: 14px;
    background: #e0e5ec;
}

/* Toggles to dark mode
.dark-mode-toggler:checked + h6{
    color: white !important; 
} */

/* #2e415c dark mode color */