<nav>
    <a class="link" href="#">Home</a>
    <a class="link" href="#">My Works</a>
    <a class="link" href="#">Contact Me</a>
    <a class="link" href="#">My Resume</a>
    <a class="link" href="#">Download Resume</a>

    {{!-- Label will allow us to click anywhere which will toggle the state of the checkbox --}}
    <label for="dmt">
        <input id="dmt" type="checkbox" class="dark-mode-toggler">
        <div></div>
    </label>
</nav>