<nav>
    <a class="link" href="#"><span class="linkTxt">Home</span></a>
    <a class="link" href="#"><span class="linkTxt">My Works</span></a>
    <a class="link" href="#"><span class="linkTxt">Contact Me</span></a>
    <a class="link" href="#"><span class="linkTxt">My Resume</span></a>
    <a class="link" href="#"><span class="linkTxt">Download Resume</span></a>

    {{!-- Label will allow us to click anywhere which will toggle the state of the checkbox --}}
    <div class="toggle-container">
        <label for="dmt" id="slider-switch">
            <input id="dmt" type="checkbox" class="dark-mode-toggler">
            <div id="slider-round"></div>
        </label>
        <h6>Dark Mode</h6>
    </div>
</nav>