<nav>
    <a class="link" href="#">Home</a>
    <a class="link" href="#">My Works</a>
    <a class="link" href="#">Contact Me</a>
    <a class="link" href="#">My Resume</a>
    <a class="link" href="#">Download Resume</a>

    {{!-- Label will allow us to click anywhere which will toggle the state of the checkbox --}}
    <div class="toggle-container">
        <label for="dmt" id="slider-switch">
            <input id="dmt" type="checkbox" class="dark-mode-toggler">
            <div id="slider-round"></div>
        </label>
        <h6>Dark Mode</h6>
    </div>
</nav>