<nav>
    <a class="link" href="#">Home</a>
    <a class="link" href="#">My Works</a>
    <a class="link" href="#">Contact Me</a>
    <a class="link" href="#">My Resume</a>
    <a class="link" href="#">Download Resume</a>
</nav>