<!DOCTYPE html>
<html>
    {{>head}}
    <body>
        {{>navbar}}
        <div class="container-main">
            <div class="content">
                <img id="profile-img" src="img/IMG_20180110_202151_217.jpg" />
                <h1><strong>{{firstName}}</strong> {{lastName}}</h1>
            </div>
        </div>
        <script src="js/ui.js"></script>
    </body>
</html>