<!DOCTYPE html>
<html>
    {{>head}}
    <body>
        {{>navbar}}
        <div class="container-main">
            <div class="content">
                <img class="profile-img" src="img/IMG_20180110_202151_217.jpg" />
                <h1>{{title}}</h1>
            </div>
        </div>
    </body>
</html>